body {
  color:#424242;
  background:#fffff6;
  font-family:'aktiv-grotesk', 'Montserrat', 'Helvetica', 'Arial', sans-serif;
}

/*header styling*/
header {
  height:60px;
  display:block;
}
#sitename {
  margin:auto;
  text-transform:uppercase;
  letter-spacing:.1rem;
  font-size:2.25rem;
  font-weight:bold;
  color:#555;
  line-height:60px;
}
#logo {
  height:75%;
  top:12.5%;
}
#nav li {
  font-size: 1.25em;
  display:inline-block;
  line-height:60px;
}
a {
  color: #b07c1e;
}
a:hover {
  color: #fdbb44;
}
#hero {
  margin-top:20px;
  margin-bottom:20px;
}
#hero h1 {
  line-height:1.25em;
}
#hero span {
  background-color: #fdbb44;
}
.btn-primary {
  background-image:none;
  background-color:#046e7d;
  border:0;
}
.btn-primary:hover {
  background-color:#2aa5b5;
  border:0;
}
body section:first-child(even) {
  background-color:#000;
}
/*img {
  padding:20px;
  margin:auto;
}*/
